/*--Start Globel rules --*/
body{
    font-family: 'Cairo', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.html{
    scroll-behavior: smooth;
}
/*--variables--*/
:root{
    --main-color:#ECECEC;
    --second-color:#FFFFFF;
    --therd-color:#2196F3;
    --transition--:0.3s;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--second-color);
    width: 100%; /*-- mobile screen ;) --*/
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
.upper-case{
text-transform: uppercase;
}

/*-- Media query --*/
/*--Small screen--*/
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/*--Medium screen--*/
@media (min-width:992px) {
    .container{
        width:970px
    }
}
/*--Large scren--*/
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}

/*--End Globel rulles --*/

/*--Start Header--*/
.header{
    height: 78px;
    box-shadow: 0px 2px 5px #ddd;
}
@media (max-width:750px) {
    .header{
        height: 97px;
    }  
}

.headre .container {
   
}
.container > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width:750px) {
    .container > nav{
       flex-direction: column;
    } 
}
nav .logo{
color: var(--therd-color);
text-transform: uppercase;
}
nav .logo h3{
    letter-spacing: -1px;
}
nav ul {
    display: flex;
}
nav ul li{
    padding: 30px 0px;
    position: relative;
    overflow: hidden;
    transition: var(--transition--);
}
@media (max-width:750px) {
    nav ul li{
        padding: 10px 0px;
    }
}

nav ul li a{
    color: black;
    padding: 0px 30px;
    transition: var(--transition--);
}
@media (max-width:750px) {
    nav ul li a{
        padding: 0px 10px;
    }
}
nav ul li:hover{
    background-color: var(--main-color);
}
nav ul li:hover a{
    color: var(--therd-color);
}
nav ul li:hover a::before{
    left:0; 
}
nav ul li a::before{
    content: "";
    position: absolute;
    background-color: var(--therd-color);
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
    transition: var(--transition--);
}
/*--Start Landing--*/

/*--End Landing--*/
/*--End Header--*/