/*--Start Globel rules --*/
body{
    font-family: 'Cairo', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.html{
    scroll-behavior: smooth;
}
/*--variables--*/
:root{
    --main-color:#ECECEC;
    --second-color:#FFFFFF;
    --therd-color:#2196F3;
    --transition--:0.3s;
    --main-padding-top-bottom--:100px 0;
    --main-margin--:100px;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--second-color);
    width: 100%; /*-- mobile screen ;) --*/
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
.upper-case{
text-transform: uppercase;
}

/*-- Media query --*/
/*--Small screen--*/
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/*--Medium screen--*/
@media (min-width:992px) {
    .container{
        width:970px
    }
}
/*--Large scren--*/
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}

/*--End Globel rulles --*/
/*--Start Components--*/
.main-title{
    text-transform: uppercase;
    border: 1px solid black;
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto 80px;
    position: relative;
    z-index: 100;
   
}

.main-title::before{
    content: "";
    position: absolute;
    background-color: var(--therd-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}
.main-title::after{
    content: "";
    position: absolute;
    background-color: var(--therd-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    
}
.main-title:hover::before{
    animation-name: move-left;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.main-title:hover::after{
    animation-name: move-right;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.main-title:hover{
    border:2px solid var(--second-color);
    color: var(--second-color);
    transition-delay: 0.6s;
}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    background-image: linear-gradient(130deg, white 20%, transparent 20%),linear-gradient(236deg, white 20%, transparent 20%);
    background-size: 30px;
    width: 100%;
    height: 40px;
    left: 0;
    top: -1px;
}

/*--End Components--*/


/*--Start Header--*/
.header{
    position: relative;
    box-shadow: 0px 1px 5px var(--main-color);
    background-color: white;
    z-index: 100;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.header .container .logo{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:768px) {
    .header .container .logo{
      width: 100%;
    }
}
.header .container .logo h3{
    color: var(--therd-color);
    letter-spacing: 1px;
}

.header .container .main-nav{
    display: flex;
}
@media (max-width:768px) {
    .header .container .main-nav{
        margin: 0 auto;
    }
}
.main-nav > li > a{
    height: 72px;
    position: relative;
    padding: 0 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: var(--transition--);
}
@media (max-width:768px) {
    .main-nav > li > a{
        padding: 0 10px;
        height: 50px;
    }
}
.main-nav > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--therd-color);
    top: 0;
    left: -100%;
    height: 3px;
    width: 100%;
    transition: var(--transition--);
}
.main-nav > li > a:hover::before{
    left: 0;
}
.main-nav > li > a:hover{
    color:var(--therd-color);
    background-color: var(--main-color);
}
.main-nav > li:hover .mega-menu{
display: flex;
top: calc(100% + 1px);
}
/*--Start Mega menu--*/
.mega-menu{
    position: absolute;
    width: 100%;
    left: 0;
    background-color: var(--second-color);
    top: calc(100% + 50px);
    padding: 20px;
    gap: 30px;
    border-bottom: 5px solid var(--therd-color);
    display: none;
}
@media (max-width:700px) {
    .mega-menu{
        flex-direction: column;
        gap: 0;
        padding: 0 20px;
    }
    .mega-menu ul:first-of-type li:last-child{
        border-bottom: 1px solid var(--main-color);
    }
}
@media (max-width:1200px) {
    .mega-menu img{
    display: none;
    }
}
.mega-menu ul{
    flex: 1;
    padding: 15px 0 15px 25px;
}
@media (max-width:700px) {
    .mega-menu ul{
        padding: 0 0 0 25px;
    }
}
.mega-menu ul li{
    position: relative;
}
.mega-menu ul li:not(:last-child){
    border-bottom: 1px solid var(--main-color);
}
.mega-menu ul li a{
    color: var(--therd-color);
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding: 15px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s;
}
.mega-menu ul li a:hover::before{
    animation-name: move-left-mega;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.mega-menu ul li a::before{
    content: "";
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: -1
}

.mega-menu ul li a i{
    color: var(--therd-color);
    margin-right: 5px;
}
/*--Start Mega menu--*/

/*--End Header--*/
/*--Start Landing--*/
.landing{
position: relative;
}
.landing::before{
    content: "";
    background-color:var(--main-color);
    width: 100%;
    height: 100%;
    top: -25px;
    left: 0;
    position: absolute;
    transform: skewY(-5deg);
    transform-origin: left top;
    z-index: 0;
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 72px);
}
.text{
    position: relative;
    width: 500px;
}
@media (max-width:820px) {
    .text{
        text-align: center;
        flex: 1;
    }
}

.text h1{
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 900;
    font-size: 40px;
}
.text p{
    line-height: 2;
    font-weight: 400;
    color: #777;
    margin: 5px 10px 0 0;
}

.landing .container .image img{
width: 600px;
position: relative;
animation-name: up-down;
animation-duration: 3s;
animation-direction: alternate;
animation-timing-function: linear;
animation-iteration-count: infinite;
max-width: 100%;
}
@media (max-width:820px) {
    .landing .container .image{
   display: none;
    }
}

.landing .go-down{
    color: var(--therd-color);
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-100%);
}

.landing .go-down i {
    position: relative;
    animation-name: go-down;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/*--End Landing--*/
/*--Start Articles--*/
.articles{
    padding: var(--main-padding-top-bottom--);
    position: relative;
}

.articles .container{
    margin-top: var(--main-margin--);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container > .box{
    border: 1px solid var(--main-color);
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 0 5px 5px var(--main-color);
    position: relative;
}

.articles .container .box:hover{
animation-name: go-up;
animation-duration: 0.3s;
animation-iteration-count:1;
animation-timing-function: linear;
animation-direction: alternate;
animation-fill-mode: forwards;
}

.articles .container > .box > img{
    width: 100%;
    max-width: 100%;
}

.articles .container > .box > .text{
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--main-color);
    padding: 15px;
}

.articles .container > .box > .text > h3{
    margin: 0;
}

.articles .container > .box > .text > p{
    margin: 5px 0 0;
    line-height: 1.6;
    color: #777;
}

.articles .container > .box > .foter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: var(--therd-color);
}

.articles .container > .box > .foter > a > i{
position: relative;
animation-name: go-right;
animation-duration: 0.3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate;
color: var(--therd-color);
}
/*--End Articles--*/

/*--Start Gallery*/
.gallery{
    background-color: var(--main-color);
    padding: var(--main-padding-top-bottom--);
}
.gallery .container{
background-color: var(--main-color);
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
gap: 40px;

}
.gallery .container .box{
    padding: 10px;
    background-color: white;
    overflow: hidden;
    box-shadow: 3px 3px 10px grey;
}
.gallery .container .box .image{
    position: relative;
}
.gallery .container .box .image::before{
    content: "";
    position: absolute;
    background-color:rgb(250 250 250 / 30%);    
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3;
    
}
.gallery .container .box .image:hover::before{
    animation: flashing 0.3s;

}
.gallery .container .box .image:hover img{
transform: rotate(5deg) scale(1.2,1.2);
}
.gallery .container .box .image img{
    max-width: 100%;
    transition: var(--transition--);
}


/*--End Gallery*/

/*--Start Animation*/
@keyframes up-down {
    0%{
        top:0
    }
   
    100%{
        top:-50px
    }
}
@keyframes go-down {
    0%,30%,50%,70%,100%{
        top:0;
    }
    40%,90%{
        top:-30px
    }
}
@keyframes move-left {
   
    50%{
        left: 0;
        width:15px;
        height: 15px;
    }
    100%{
        width: 100%;
        height: 100%;
        border-radius: 0;
        left: 0;
        z-index: -1;
    }
}
@keyframes move-right {
    50%{
        right: 0;
        width:15px;
        height: 15px;
    }
    100%{
        width: 100%;
        height: 100%;
        border-radius: 0;
        right: 0;
        z-index: -1;
    }
}
@keyframes go-right {
    50%{
        left:3px
    }
    100%{
        left:5px
    }

}
@keyframes go-up {
    50%{
        bottom:5px;
    }
    100%{
        bottom:10px
    }

}
@keyframes move-left-mega {
   
    50%{
        left: 0;
    }
    100%{
        left: 0;
    }
}
@keyframes flashing {
  50%{
     opacity: 1;
     width: 50%;
     height: 50%;
     
  }
  75%{
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
  100%{
    opacity: 0;
    width: 150%;
    height: 150%;
  }

}
/*--End Animation--*/